/* Light theme */
:root {
    --bg-color: #fafafa;
    --bg-alt-color: #eeeeee;
    --text-color: #212121;
    --text-bold-color: #000000;
    --link-color: #1565c0;
    --border-color: #ff8902;

    --font-size-small: 0.9em;
    --border-radius: 8px;
}

/* Dark theme */
/*
@media (prefers-color-scheme: dark) {
:root {
    --bg-color: #212121;
    --bg-alt-color: #111111;
    --text-color: #dadada;
    --text-bold-color: #fff;
    --link-color: #55acf2;
    --border-color: #ff8902;
}
}
*/

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 2rem;
    line-height: 2rem;
    font-size: 1.125rem;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    max-width: 860px;
    margin: auto;
}

/*      T Y P O G R A P H Y      */

/* Font Declarations */
body,
input[type='text'],
input[type='password'],
input[type='submit'],
input[type='reset'],
button,
textarea {
    font-family: 'Inter', sans-serif;
}

pre, code {
    font-family: 'Inconsolata', 'Consolas', 'Menlo', 'Monaco', monospace;
    line-height: normal;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
    line-height: normal;
}

h1 {
    font-size: 2.25rem;
    line-height: 3.25rem;
}

/* H4-H6 use the same styling */
h4, h5, h6 {
    font-size: inherit;
}

/* Paragraphs */

p {
    margin: 1rem 0;
}

/* Links */
a {
    text-decoration: none;
    color: var(--link-color);
}
a:hover,
a:active {
    text-decoration: underline;
}

/* Give most typography elements 2em margins */
pre, blockquote, figure {
    margin: 2em 0;
}

/* Code Blocks */
pre {
    margin: 1rem 0;
    padding: 0.5em 1rem;
    background-color: var(--bg-alt-color);
    overflow: auto;
    border-radius: var(--border-radius);
}

pre > code {
    font-size: var(--font-size-small);
}

/* Blockquote */
blockquote {
    padding: 0.5em 1em;
    border-left: solid 2px var(--border-color);
    background-color: var(--bg-alt-color);
}
blockquote p {
    margin: 0.25em 0;
    color: var(--text-bold-color);
}
blockquote > cite {
    font-size: var(--font-size-small);
    color: inherit;
}

/* Nested blockquote */
blockquote > blockquote {
    margin: 1em 0.25em 1em 0.25em;
}

/* Pre, Blockquote, Figure tags, and pagination, go slightly out of main content area on desktop */
pre, blockquote, figure, .pagination {
    margin-left: -2rem;
    margin-right: -2rem;
}



/* Images */
img {
    max-width: 100%;
    vertical-align: bottom;
}

figcaption {
    font-size: var(--font-size-small);
}

.center {
    text-align: center;
}

/*      END: T Y P O G R A P H Y      */

/* Header */
header.site-header {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    user-select: none; /* Prevents highlighting header */
}

/* Header navigation links */
header.site-header nav,
.nav-left {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

header.site-header a {
    color: inherit;
    transition: 0.2s color ease-in;
}
header.site-header a:hover {
    color: var(--link-color);
}

.site-title a,
.site-title a:hover {
    color: var(--text-bold-color);
    font-weight: 600;
    text-decoration: none;
    display: block;
}

/* Button used for toggling the mobile navigation bar */
header.site-header .nav-button {
    border: 0;
    padding: 0 0.5em;
    font-weight: 600;
    cursor: pointer;
    font-size: inherit;
    color: var(--link-color);
    background-color: var(--bg-alt-color);
    
    /* Hide menu button on desktop views */
    display: none;
}

@media screen and (max-width: 800px) {
    header.site-header {
        flex-direction: column;
    }

    /* Hide nav by default on mobile */
    header.site-header nav.hidden-mobile {
        display: none;
    }

    /* When navigation is shown, then display links in rows */
    header.site-header nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0.5em;
        margin-top: 1em;
    }

    header.site-header .nav-button {
        display: inline-block;
    }
}

/* Post List */
.posts h1 {
    font-size: inherit;
    line-height: inherit;
}
.posts ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.posts ul li {
    display: flex;
    margin: 0.5rem 0;
    gap: 1rem;
}
.posts ul li time {
    flex: 1;
    text-align: right;
}
.posts ul li a {
    flex: 2;
    font-weight: 600;
}

@media screen and (max-width: 800px) {
    .posts ul li {
        flex-direction: column;
        margin: 1em 0;
    }
    .posts ul li time {
        line-height: 1;
        text-align: left;
        font-size: var(--font-size-small);
    }
}

/* Post Content */

/* Post details */
article header {
    margin: 2rem 0;
}
article header .post-meta,
article header .post-meta .tags {
    display: flex;
    gap: 0 1rem;
    flex-wrap: wrap;
}
article header .post-meta > * {
    font-size: var(--font-size-small);
}

/* Post Date */
article header .post-meta time {
    font-weight: 600;
}

/* Post tags */
article header .post-meta .tags a:before {
    content: "#";
}

/* Change flex-direction and gap between date and tags */
@media screen and (max-width: 800px) {
    article header .post-meta {
        flex-direction: column;
        gap: 0;
    }
}

/* Cover image */
.post-cover img {
    width: 100%;
}

/* Add border radius to post-cover and pre tags on desktop */
@media screen and (min-width: 800px) {
    .post-cover img,
    pre {
        border-radius: var(--border-radius);
    }
}

/* Post pagination */
article .pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 1rem;
    font-size: var(--font-size-small);
    line-height: normal;
}

article .pagination a.prev {
    margin-left: auto;
    text-align: right;
}
@media screen and (max-width: 800px) {
    .pagination {
        margin-left: 0;
        margin-right: 0;
    }
    article .pagination a.prev {
        text-align: left;
        margin-left: 0;
    }
    article .pagination {
        flex-direction: column;
        font-size: inherit;
    }
}


/* Footer */
footer {
    margin-top: 2em;
    text-align: center;
    font-size: var(--font-size-small);
    display: flex;
    justify-content: space-between;
}
footer .copyright {
    color: var(--text-bold-color);
}
