{{ define "main" }}
<article>
    <!-- Cover image (if showCoverFirst is TRUE) -->
    {{- if and .Site.Params.ShowCoverFirst .Params.Cover }}
        {{ partial "postcover.html" . }}
    {{- end}}

    <!-- Post/page details -->
    <header>
        <h1>{{ .Title | markdownify }}</h1>

        {{- if or .Date .Params.tags }}
        <div class="post-meta">
            <time>{{ .Date.Format ($.Site.Params.DateFormat | default "January 2, 2006") }}</time>

            <div class="tags">
                {{- range (.GetTerms "tags") }}
                    <a href="{{ .Permalink | absURL }}">{{ .LinkTitle }}</a>
                {{- end }}
            </div>
        </div>
        {{- end }}
    </header>

    <!-- Cover image (if showCoverFirst is FALSE) -->
    {{- if and .Params.Cover (eq .Site.Params.ShowCoverFirst false) }}
        {{ partial "postcover.html" . }}
    {{- end }}

    {{ .Content }}


    <!-- Pagination buttons - WIP - should only show on posts -->
    {{ if or .NextInSection .PrevInSection }}
        <div class="pagination">
            {{ with .NextInSection }}
                <a href="{{ .Permalink }}" class="next">
                    &lsaquo; {{ .Title }}
                </a>
            {{ end }}

            {{ with .PrevInSection }}
                <a href="{{ .Permalink }}" class="prev">
                    {{ .Title }} &rsaquo;
                </a>
            {{ end }}
        </div>
    {{ end }}

</article>
{{ end }}