<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Page title -->
<title>
    {{- if .IsHome }}
        {{- .Site.Title }}
    {{ else }}
        {{- block "title" . }}
            {{ with .Title }}{{ . }} | {{ end }} {{ .Site.Title }}
        {{- end }}
    {{- end }}
</title>

{{- with .Description }}
<meta name="description" content="{{ . | plainify }}">
{{- end }}

{{- with .Keywords }}
<meta name="keywords" content="{{ range $i, $e := . }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}">
{{ end }}

{{- template "_internal/opengraph.html" . }}
{{- template "_internal/twitter_cards.html" . }}
{{- template "_internal/schema.html" . }}

<!-- Load Google Web Fonts: Hanken Grotesk and Fira Code -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Inter:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet"> 

<!-- Favicon -->
{{- with .Site.Params.favicon }}
<link rel="shortcut icon" href="{{ . | absURL }}" />
{{- end }}

<!-- Load stylesheets -->
<link rel="stylesheet" href="{{ "css/style.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/syntax.css" | absURL }}">

<!-- Always show navigation bar if scripts are disabled and viewport is mobile sized -->
<noscript>
    <style>
        header nav.hidden-mobile { display: flex !important; }
        header .nav-button { display: none !important; }
    </style>
</noscript>
